
.about__container {
        /* background: #ee7168; */
        background: radial-gradient(rgb(238, 113, 104) 60%, rgb(255, 58, 44));
        color: #fcfdd8;
        width: 100%;
        /* box-sizing: border-box; */
}

/* .about__container::after {
        content: '';
        background-color: rbga(0, 0, 0, 1);
        width: 100%;
} */

.about__title {
        text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
}

.about__body {
        text-align: justify;
        width: 80%;
        line-height: 1.8;
        padding: 0 24pt;
        /* box-sizing: border-box; */
}

.about__sig {
        text-align: right;
        padding-right: 15pt;
}

@media (min-width: 450px) {
        .about__body {
                margin: 0 auto;
        }
        .about__title {
                font-size: 1.8rem;
        }

        .about__body, .about__sig {
                font-size: 1.1rem;
        }
}

@media (min-width: 768px) {
        .about__title {
                font-size: 2rem;
        }

        .about__body, .about__sig {
                font-size: 1.2rem;
        }
        .about__sig {
                padding-right: 70pt;
        }
}

@media (min-width: 1200px) {

        .about__body {
                width: 1000px;
        }
        .about__sig {
                padding-right: 120pt;
        }
}


@media (min-width: 1600px) {
        .about__sig {
                padding-right: 400pt;
        }
}