/* .navbar{
        display: flex;
        justify-content: space-around;
        height: 20vh;
        width:100%;
        align-items: center;
        background-color: #ae141b;

} */
.menu{
        list-style-type:none;
        
}