.footer__container{
    width: 100%;
    background-color: #890007;
    height: 35vh;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    
   
}
.address{
    color:#fcfdd8;
    margin-left:20px;
}
.hours{
    margin-left:20px;
    color:#fcfdd8;
   
}
.contactus{
    margin-left:20px;
    color:#fcfdd8;
}
.addressp{
    display: flex;
    flex-direction: column;
}
.contacts{
    text-decoration: underline;
}
.icons{
   position: relative;
   right: 300px;
   
}
.icon{
    margin: 20px;
    color: #fcfdd8;
}
.contactUs{
    color:#fcfdd8;
}
@media(max-width:768px){
    .icons{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 25px;
        margin: 10px;
    }
}
