.home__container {
    background-image: url("./images/cc-restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px 0pt 0pt 0pt;
}

.logo-background {
    background: rgba(255,255,255,0.35);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    /* background-attachment: scroll; */
    background-attachment: fixed;
    width: 90vw;
}

/* .cls-1 {
    fill:rgba(255,0,0,0.01);
    stroke:yellow;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12.14px;
    stroke-width: 10px;
    stroke-dasharray: 950px;
    stroke-dashoffset: 950px;
    animation-name: trace;
    animation-delay: 1.25s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier;
} */

.cls-sun, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-1, .cls-2, .cls-3 {
    fill:rgba(255,0,0,0.01);
    stroke:yellow;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12.14px;
    stroke-width: 10px;
    stroke-dasharray: 950px;
    stroke-dashoffset: 950px;
    animation-name: trace;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier;  
}

.cls-sun {
    animation-delay: 1s;
    animation-duration: 3.5s;
}
.cls-7 {
    animation-delay: 2s;
}
.cls-8 {
    animation-delay: 2.25s;
}
.cls-9 {
    animation-delay: 2.5s;
}
.cls-10 {
    animation-delay: 2.75s;
}
.cls-11 {
    animation-delay: 3s;
}
.cls-12 {
    animation-delay: 3.25s;
}
.cls-1 {
    animation-delay: 3.5s;
}
.cls-2 {
    animation-delay: 3.75s;
}
.cls-3 {
    animation-delay: 4s;
    animation-duration: 2s;
}

@keyframes trace {
    90% {
      fill: rgba(255,69,0,0.8);
      stroke: rgba(255,69,0,0.5);
    }
    100% {
      fill: rgba(255,255,0,0.7);
      stroke-dashoffset: 0px;
      stroke: rgba(255,255,0,.8);
    }
}

@media (min-width: 600px) {
    svg {
        width: 50vw;
    }
}

@media (min-width: 1200px) {
    svg {
        width: 40vw;
    }
}
